<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Local RAG</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <script>
      // If you want to enforce dark mode regardless of system preferences
      tailwind.config = {
        darkMode: 'class',
      };
      document.documentElement.classList.add('dark');
    </script>
</head>
<body class="bg-slate-900 text-white flex items-center justify-center h-screen">
  <div class="text-center">
    <div class="">
      <h1 class="text-5xl font-bold mb-6">Local RAG API</h1>
      <p class="mb-8 text-xl">Elevate your application with our state-of-the-art language model API.</p>
      <a href="/chat/completions" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
          Get Started
      </a>
    </div>
  </div>
</body>
</html>